.container{
    display: grid;
    place-items: center;
    height: 50vh;
}


.mainContainer {
    display: grid;
    grid-template-rows: 60% 25% 1fr;
    height: 100vh;
}


.imageContainer {
    position: relative;
    overflow: hidden;
}


.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttonContainer button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
}


/*
#welcome{
    grid-template-columns: ;
    grid-template-rows: ;
}


#start{
    grid-template-columns: ;
    grid-template-rows: ;
}


#help{
    grid-template-columns: ;
    grid-template-rows: ;
}


#name{
    grid-template-columns: ;
    grid-template-rows: ;
} */




