.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}


.mainContainer {
    display: grid;
    grid-template-rows: 60% 25% 1fr;
    height: 100vh;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
}

.backButton button{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    color: rgb(155, 127, 127);
    cursor: pointer; 
    background: none; 
    border: none; 
    outline: none; 
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color:red;
    font-weight: bold;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttonContainer button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
    background: none; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    color: brown;
}

.buttonContainer button:hover{
    font-weight: bold;
}

.startPage {
    text-align: center;
}

#welcome {
    font-size: 50px; 
    margin-top: 20px; 
    color: rgb(145, 5, 5);
    font-weight: bold;
}

#startButton,
#helpButton {
    font-size: 40px;
    margin-top: 150px;
    background: none; 
    border: none; 
    outline: none; 
    cursor: pointer; 
}

#startButton:hover,
#helpButton:hover {
    font-weight: bold; 
    color: rgb(136, 44, 44);
}

#name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em; 
    margin: 10px; 
    color: aquamarine;
}